a:link{
    text-decoration: none;
    background-color: cornsilk;

}

header{
    width: 100vw;
    height: 20vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;


}

header a{
    float: left;
    padding-left: 10vh;
}

.container{
    background-color: cyan;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    background-color: burlywood;
    height: 80vh;
    display: flex;
}



main h1{
    display: inline-block;
    width: 100%;
    font-size: 300%;
    text-align: center;
    background-color: cornflowerblue;

}

main h3{
    display: inline-block;
    background-color: coral;
    font-size: 150%;
    text-align: center;
    width: 100%;
}

main a{
    display: inline-block;
    font-size: 200%;
    
}

main article{
    display: inline-block;
    width: 100%;
    text-align: center;
    border: lightgoldenrodyellow solid 5px;
    font-size: 150%;
}

#question{
    margin-bottom: 20px;

}

main section{
    display: flex;
    min-width: 600px;
    /* border: darkblue solid 10px; */
    flex-wrap: wrap;
    height: 50%;


}
.choice-container{
    /* display: inline-block; */
    display: flex;
    width: 100%;
    text-align: center;
    border: solid lightcyan 5px;
    margin-bottom: 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 10%;
    height: 20%;
    align-items: center;

}

.choice-container:hover{
    border-radius: 20%;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    transition: 0.2s;
}

h4{
    float: left;
    margin-left:5%;
}

aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;

}

@media screen and (max-width: 900px){
    main section { min-width: 300px;

    }

}